{% extends 'layout.html' %}

{% block body %}

<tbody>
    <div class="flex-contenedor">
        <div class="item">
            <h3>ARTICULO</h3><br>
            <img class="img" src="{{url_for('static', filename='images/logo.jpeg')}}"><br>
            <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi libero nam dolores impedit accusamus rerum sapiente, labore necessitatibus ad. Cumque, accusamus explicabo tenetur ab distinctio perspiciatis ullam quidem commodi veniam.</P><br>
            <h3>CAMBIO POR</h3><br>
            <a href="">TRUEQUE</a>
        </div>
        <div class="item">
            <h3>ARTICULO</h3><br>
            <img class="img" src="{{url_for('static', filename='images/logo.jpeg')}}"><br>
            <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi libero nam dolores impedit accusamus rerum sapiente, labore necessitatibus ad. Cumque, accusamus explicabo tenetur ab distinctio perspiciatis ullam quidem commodi veniam.</P><br>
            <h3>CAMBIO POR</h3><br>
            <a href="">TRUEQUE</a>
        </div>
        <div class="item">
            <h3>ARTICULO</h3><br>
            <img class="img" src="{{url_for('static', filename='images/logo.jpeg')}}"><br>
            <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi libero nam dolores impedit accusamus rerum sapiente, labore necessitatibus ad. Cumque, accusamus explicabo tenetur ab distinctio perspiciatis ullam quidem commodi veniam.</P><br>
            <h3>CAMBIO POR</h3><br>
            <a href="">TRUEQUE</a>
        </div>
        <div class="item">
            <h3>ARTICULO</h3><br>
            <img class="img" src="{{url_for('static', filename='images/logo.jpeg')}}"><br>
            <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi libero nam dolores impedit accusamus rerum sapiente, labore necessitatibus ad. Cumque, accusamus explicabo tenetur ab distinctio perspiciatis ullam quidem commodi veniam.</P><br>
            <h3>CAMBIO POR</h3><br>
            <a href="">TRUEQUE</a>
        </div>
        <div class="item">
            <h3>ARTICULO</h3><br>
            <img class="img" src="{{url_for('static', filename='images/logo.jpeg')}}"><br>
            <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi libero nam dolores impedit accusamus rerum sapiente, labore necessitatibus ad. Cumque, accusamus explicabo tenetur ab distinctio perspiciatis ullam quidem commodi veniam.</P><br>
            <h3>CAMBIO POR</h3><br>
            <a href="">TRUEQUE</a>
        </div>
        <div class="item">
            <h3>ARTICULO</h3><br>
            <img class="img" src="{{url_for('static', filename='images/logo.jpeg')}}"><br>
            <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi libero nam dolores impedit accusamus rerum sapiente, labore necessitatibus ad. Cumque, accusamus explicabo tenetur ab distinctio perspiciatis ullam quidem commodi veniam.</P><br>
            <h3>CAMBIO POR</h3><br>
            <a href="">TRUEQUE</a>
        </div>
    </div>
    <li class="button">
        <div class="item">
            <button type="button" class="boton"><a href="">cargar mas</a></button>
        </div>
    </li>
</tbody>


{% endblock %}
