{% extends 'layout.html' %}

{% block body %}
    {% if i %}
        <script>alert("Para hacer una solicitud de trueque, debes haber iniciado sesión.")</script>
    {% endif%}
    <div class="flex-contenedor">
        {% if productos %}
            {% for i in range(largor) %}
                <div class="item">
                    <h3>{{productos[i][1]}}</h3><br>
                    <img class="img" src="{{url_for('static', filename='imgs_productos/{{productos[i][10]}}')}}"><br>
                    <p>{{productos[i][2]}}</p><br>
                    <h3>Cambio por: {{productos[i][4]}}</h3><br>
                    {% if user %}
                    <a href="http://127.0.0.1:5000/solicitudtrueque/{{productos[i][0]}}">TRUEQUE</a>
                    {% else %}
                    <a href="http://127.0.0.1:5000/?i=1">TRUEQUE</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
        <div class="item">
            <h3>En este momento no hay productos para mostrar :(</h3>
        </div>
        {% endif %}
    </div>

{% endblock %}
