
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ingreso</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<header>
    <img class="img3" src="images/logo.jpeg">
    <h1 class="titulo1">GET IT.</h1>
    <p class="parrafo1">"Tu comunidad  de intercambio "
    </p>


    <nav  ><center>
        
        <button class="boton"><a href="index.html">Inicio</a></button>
        <button class="boton"><a href="consiguelo">consiguelo</a></button>
        <button class="boton"><a href="registro">registro</a></button>
        <button class="boton"><a href="ayuda">ayuda y politicas </a></button>
        
        
    </center></nav>


</header>
<body><center>
    <form action="ejemplo.php" method="get">
        <p class="parrafo2" >usuario: <input type="text" name="usuario" size="40"></p>
        <p>contraseña: <input type="number" name="contraseña" ></p>
        <p>No eres un robot:
          <input type="radio" name="hm" value="h"> no soy robot
          
        </p>
        <p>
          <input type="submit" value="Entrar">
          <input type="reset" value="Borrar">
        </p>
        <p>¿No estas   registrado?  REGISTRATE</p>

        <p>
            <input type="submit" value="registro">
        </p>
      </form>
    </center>
</body>


</html>